
.res{
   
    color:"white";font-weight: "500";font-size: "18px";padding: "0 15px"
}
@media (max-width: 640px) {
    .res{
        color:"white";font-weight: "500";
    font-size: 16px;
    padding: 0 5px;
    
    }
}

@media (max-width: 445px) {
    .res{
        color:"white";
        font-weight: "500";
    font-size: 14px;
    padding: 0 5px 5px 5px;
  

    }
}

